$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import "offcanvas";

$font-base: 'Open Sans', sans-serif;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #edf0f2;
  font-family: $font-base;
  .btn {
    border: 1px solid white;
    color: white;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover,
    &:active {
      color: black;
      background-color: white;
    }
  }
}

.site-wrapper {
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  max-width: 1170px;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    max-width: 750px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-width: 970px;
  }
}

// Start Home Styles
.video-wrapper {
  position: relative;
  height:500px;
  overflow: hidden;
  @media (min-width: $screen-md-min) {
    height: 760px;
  }
}
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: transparent url(../images/poster.jpg) no-repeat;
    background-size: cover;
    overflow: hidden; 
}

.hero-copy {
  color: white;
  text-align: center;
  padding: 100px 0 65px;
  @media (min-width: $screen-sm-min) {
    padding: 140px 0 100px;
    @media (min-width: $screen-md-min) {
      padding: 200px 0 150px;
    }
  }
  p {
    margin: 0 auto;
    padding: 15px 0 25px;
    max-width: 620px;
  }
  .btn {
    border: 1px solid #69b6d6;
    color: #69b6d6;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover,
    &:active {
      color: black;
      background-color: #69b6d6;
    }
  }
}
// Featured Blue Band -----------------------------
.featured {
  background-color: #69b6d6;
  padding-top: 50px;
  padding-bottom: 50px;
  img {
    display: block;
    margin: 25px auto 25px;
  }
  img.last {
    margin-top: 8px;
  }
  p {
    color: white;
    margin: 15px 15px 45px;
    padding: 5px 15px;
    @media (min-width: 500px) and (max-width: 768px) {
      padding: 15px 60px;
    }
  }
  .feature {
    @media (min-width: $screen-sm-min) {
      &:after {
        content: '';
        border-right: 1px solid white;
        position: absolute;
        height: 75%;
        right: 0;
        top: 10%;
      }
      &:last-of-type:after {
        border-right: none;
      }
    }
  }
}

.body-copy {
  background-color: white;
  padding-bottom: 25px;
  text-align: center;
  .container {
    h2 {
      display: inline-block;
      font-size: 24px;
      border-bottom: solid 1px #7a7a7a;
      padding: 20px 0 10px 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    p {
      margin: 0 auto;
      max-width: 620px;
      span {
        font-weight: 700;
      }
    }
  }
}
//footer styles
.footer {
  background-color: #1f3c48;
  p {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin: 25px 0 25px;
  }
  p.copyright {
    text-align: center;
    margin: 20px auto;
    font-size: 12px;
    font-weight: 300;
  }
  .contact {
    @media (min-width: $screen-sm-min) {
    margin-right: 30px;
    }
  }
}

.navigation-footer {
  display: inline-block;
  float: left;
  text-align: left;
  text-transform: uppercase;
  padding-top: 22px;
  @media (min-width: $screen-sm-min) {
    margin-left: 30px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    padding-right: 20px;
    text-align: left;
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      color: white;
      font-weight: 600;
    }
  }
}


//nav styles

  .navbar {
    padding-top: 30px;
      .navbar-header {
        margin-left: 15px;
    }
  }
  .navbar-default {
    max-width: 1170px;
    margin: 0 auto;
    background-color: rgba(22, 21, 22, 0);
    border-radius: 0;
    border-color: transparent;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 750px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      max-width: 970px;
    }
    .navbar-collapse {
      border-color: transparent;
    }
    #logo.navbar-brand {
      text-indent: 9999px;
      color: white;
      margin-top: 5px;
      margin-left: 15px;
      width: 189px;
      height: 29px;
      background: url('../images/logo.png') no-repeat;
      @media (min-width: $screen-sm-min) {
        margin-left: 0;
      }
    }
    a#contact-btn {
      border: 1px solid #69b6d6;
      color: #69b6d6;
      padding: 10px 18px;
      text-transform: uppercase;
      transition: all 0.3s;
      &:hover,
      &:active {
        color: white;
        background-color: #69b6d6;
        font-weight: 300;
      }
    }
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    &:hover {
      color: white;
      font-weight: 600;
    }
  }
.navbar-right {
  margin-right: 15px;
  margin-left: 15px;
}
    
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    background-color: white;
    transition: all 300ms ease;
    li > a {
      color: black;
    }
    .icon-bar {
      background-color: black;
    }
    .navbar-brand {
      background: url('../images/logo-reversed.png') no-repeat;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 750px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      max-width: 970px;
    }
}
#nav.nav-bkg-white {
  background-color: white;
  transition: all 300ms ease;
  li > a {
    color: black;
  }
  .icon-bar {
    background-color: black;
  }
  .navbar-brand {
    background: url('../images/logo-reversed.png') no-repeat;
  }
}

// Interior Styles

#interior {
  .navbar {
    padding: 20px 0 30px;
    background-color: black;
    border-radius: 0;
    border-bottom: 2px solid white;
  }
  .navbar .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    &:hover {
      color: white;
      font-weight: 600;
    }
  }
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
}


#interior-bkg { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/interior-bkg.jpg) no-repeat;
    background-color: black;
    background-size: cover; 
}

.int-header {
  margin: 5px 0 50px;
  h1 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    &:before {
      content: "";
      display: block;
      background: url(../images/server-icon.png) no-repeat;
      width: 44px;
      height: 44px;
      float: left;
      margin: 0 15px 0 0;
    }
  }
}

.int-cont-main {
  background-color: white;
  @media (min-width: $screen-sm-min) {
    background-color: transparent;
  }
}
.int-body {
  background-color: white;
  padding: 50px 0;
}
.main-copy {
  background: white;
  color: #224449;
  padding: 15px;
  @media (min-width: $screen-sm-min) {
    padding: 0 20px 0 50px;
  }
  h2 {
    font-weight: 300;
  }
  h2:first-of-type {
    margin-top: 0;
  }
}

.cta {
  background: black;
  min-height: 200px;
}

.isStuck {
  background: white;
}






